.hobbies__cards{
    background-color: #EAF2FD;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-align: center;
}


@media screen and (min-width: 0px) {
    .hobbies__cards{
        width: 145px;
        height: 150px;
        margin: 0.25rem;
    }
}

@media screen and (min-width: 768px) {
    .hobbies__cards{
        width: 230px;
        height: 175px;
    }
}