@media screen and (min-width: 0px) {
    .hobbies__titulo{
       font-size: 2rem;
       margin-bottom: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .hobbies__titulo{
        font-size: 3rem;
    }
}