.sobre-mim__descricao{
    text-align: justify;
}

@media screen and (min-width: 768px) {
    .sobre-mim__descricao{
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .sobre-mim__descricao{
        font-size: 2rem;
        width: 750px;
    }
}